background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
box-sizing: border-box;
color: rgb(48, 48, 48);
display: block;
font-family: "Source Sans Pro", sans-serif;
font-size: 18px;
height: 2754.609375px;
line-height: 28.799999237060547px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
width: 1440px;
Variables
--bs:  0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
--clr-accent:  #16e0bd;
--clr-dark:  #303030;
--clr-light:  #fff;
--ff-primary:  "Source Sans Pro", sans-serif;
--ff-secondary:  "Source Code Pro", monospace;
--fs-body:  1.125rem;
--fs-h1:  4.5rem;
--fs-h2:  3.75rem;
--fs-h3:  1.5rem;
--fw-bold:  900;
--fw-reg:  300;

Active
Focus
Hover
Visited
Style Attribute {
}
style.css:46body {
background: var(--clr-light);
color: var(--clr-dark);
margin: 0;
font-family: var(--ff-primary);
font-size: var(--fs-body);
line-height: 1.6;
}
normalize.css:25body {
margin: 0;
}
style.css:1*, *::before, *::after {
box-sizing: border-box;
}
User Agent Style Sheetbody {
display: block;
margin-top: 8px;
}
Pseudo-Element ::marker
User Agent Style Sheet::marker {
unicode-bidi: isolate;
font-variant-numeric: tabular-nums;
white-space: pre;
text-transform: none;
}
Pseudo-Element ::before
style.css:1*, *::before, *::after {
box-sizing: border-box;
}
Pseudo-Element ::after
style.css:1*, *::before, *::after {
box-sizing: border-box;
}
Inherited From html
@media (min-width: 800px)
style.css:30:root {
--fs-h1: 4.5rem;
--fs-h2: 3.75rem;
--fs-h3: 1.5rem;
--fs-body: 1.125rem;
}
style.css:9:root {
--ff-primary: 'Source Sans Pro', sans-serif;
--ff-secondary: 'Source Code Pro', monospace;
--fw-reg: 300;
--fw-bold: 900;
--clr-light: #fff;
--clr-dark: #303030;
--clr-accent: #16e0bd;
--fs-h1: 3rem;
--fs-h2: 2.25rem;
--fs-h3: 1.25rem;
--fs-body: 1rem;
--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}
normalize.css:12html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
User Agent Style Sheethtml {
color: text;
}
